@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
}

body {
	padding-top: 120px;
}

.page-header h1 {
    padding: 2rem 0;

    font-size: 3rem;
}

.col {
	min-width: 500px;
	margin-top: 32px;
}

.table .thead-dark th  {
	padding: 24px 24px 20px;

	font-size: 2rem;
}

.table td:first-of-type {
	width: 200px;
}
